  .digital-clock {
    float:left;
    font-family: 'Orbitron', sans-serif;
    color: #4CAF50; 
    font-size: 48px; 
    letter-spacing: 5px; 
    text-shadow: 0 0 10px #4CAF50; 
    padding: 5px;width: 350px;
    width: 100%;
    text-align: center;
  }

.clockText {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px; 
    float: left;
    padding: 5px;
    width:100%;
    text-align: center;
}
  
