.navbar {
  position: relative;
  top: 0;
  width: 100%; 
  background-color: white;
  z-index: 1000; 
  min-width: 800px;

}

.navbar ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;

}

.navbar li {
  float: left; 
  
}

.navbar li a {
  display: block; 
  color: #333;
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

.full{
  position: absolute;
  bottom: 0;
  height: 2px;
  width:100%;
  background-color: lightgray;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;

  background-color: #333;
  transition: all 0.3s ease-in-out; 
  z-index: 1000;
}
